* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 10px auto;
  border: 2px solid pink;
  text-align: center;
  background-color: gray;
}
